text-field {
	height: 50px;
	border-radius: 25px;
	background-color: #393939;
	border: 0px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	font-size: 20px;
	font-family: SFProDisplay-Light, SF Pro Display;
}
	
chatroom-text {
	color: white;
	font-family: SFProDisplay-Light, SF Pro Display;
}
	
chatroom {
    overflow-x: hidden;
    width: 1300px;
    height: 670px;
    position: relative;
    left: 530px;
    top: 280px;
}
	
h1 {
	font-family: SFProDisplay-Regular, SF Pro Display;
	color: white;
	font-style: normal;
	position: relative;
	font-size: 1.75ch;
}
	
panel {
	position: relative;
}