<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-indigo.min.css"/>
  <meta charset="UTF-8">
  <title>Paradigm Bread</title>
  <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyBLcfwhzN8eAbS7fg1wVx6AIWR4Orz6nr0",
			authDomain: "ecbm-31cf0.firebaseapp.com",
			databaseURL: "https://ecbm-31cf0.firebaseio.com",
			projectId: "ecbm-31cf0",
			storageBucket: "",
			messagingSenderId: "85157949430"
		};
		firebase.initializeApp(config);
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="./../assets/chat.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />
  <link type="text/css" rel="stylesheet" href="./../assets/stylesheet.css"></link>
</head>
<body ng-controller="ChatController">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--tabs">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Paradigm Bread</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <div id="notifications" class="material-icons mdl-badge mdl-badge--overlap" data-badge="#">notifications</div>
          <div id="profile" style="margin-left: 24px;" class="material-icons">person</div>
          <span for="notifications" class="mdl-tooltip">This feature has not been implemented yet!</span>
          <span for="profile" class="mdl-tooltip">This feature has not been implemented yet!</span>
        </nav>
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#tab-1" class="mdl-layout__tab is-active">Board 1</a>
        <a href="#tab-2" class="mdl-layout__tab">Board 2</a>
        <a disabled href="#tab-3" class="mdl-layout__tab">Board 3</a>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Apps</span>
      <nav class="mdl-navigation">
        <a id="breadLink" class="mdl-navigation__link" href="./../index.html">Home</a>
        <a id="breadLink" class="mdl-navigation__link" href="./../bread.html">Bread</a>
        <a id="hexLink" class="mdl-navigation__link" href="./../hex.html">Hex</a>
        <a id="drawerLink" class="mdl-navigation__link" href="./../drawer.html">Drawer</a>
        <a id="launchLink" class="mdl-navigation__link" href="./../launch.html">Launchpad</a>
        <span for="hexLink" class="mdl-tooltip">This feature has not been implemented yet!</span>
        <span for="drawerLink" class="mdl-tooltip">This feature has not been implemented yet!</span>
        <span for="launchLink" class="mdl-tooltip">This feature has not been implemented yet!</span>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <section class="mdl-layout__tab-panel is-active" id="tab-1">
        <div class="chatroom">
          <div ng-repeat="m in messages">
            <div style="padding-left: 6px;">
              <h4>{{m.username}}<span style="color: #3e3e3e; font-style: italic; padding-left: 5px;" class="mdl-typography--body-1">{{m.date | date:'medium'}}</span></h4>
              <span style="line-height: normal;" class="mdl-typography--body-1" style="padding-top: 10px;">{{m.message}}</span>
              <span style="padding-top: 10px;">{{m.image}}</span>
            </div>
            <hr>
          </div>
        </div>
        <form autocomplete="off" class="form-group" style="white-space: nowrap; position: absolute; bottom: 25px; left: 25px;">
          <button id="uploadBtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-button--colored" style="background-color: #3F51B5;"><i class="material-icons">add</i></button>
          <div style="position: relative; left: 10px; width: 25vw;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username" class="form-control" ng-model="usernameText">
            <label class="mdl-textfield__label" for="username">Username</label>
          </div>
          <div style="position: relative; left: 10px; width: 60vw;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="message" class="form-control" ng-model="messageText">
            <label class="mdl-textfield__label" for="username">Message</label>
          </div>
          <button id="sendBtn" style="position: relative; left: 10px;" type="submit" ng-click="send()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Send</button>
        </form>
        <div id="p2" class="bottomPrgs mdl-progress mdl-js-progress mdl-progress--indeterminate"></div>
        <footer>© 2018 Paradigm Development. All Rights Reserved. Version 0.0.3.0.1β.</footer>
      </section>
      <section class="mdl-layout__tab-panel" id="tab-2">
        <div style="text-align: center; padding-top: 15vh;">
          <h2>Multiple Boards has not been implemented yet!</h2>
          <p>But it is planned for the future!</p>
        </div>
        <div id="p3" class="bottomPrgs mdl-progress mdl-js-progress"></div>
        <script>
          document.querySelector('#p3').addEventListener('mdl-componentupgraded', function() {
            this.MaterialProgress.setProgress(33);
            this.MaterialProgress.setBuffer(50);
          });
        </script>
        <footer>© 2018 Paradigm Development. All Rights Reserved. Version 0.0.3.0.1β.</footer>
      </section>
      <section class="mdl-layout__tab-panel" id="tab-3">
        <div style="text-align: center; padding-top: 15vh;">
          <h2>Multiple Boards has not been implemented yet!</h2>
          <p>But it is planned for the future!</p>
        </div>
        <footer>© 2018 Paradigm Development. All Rights Reserved. Version 0.0.3.0.1β.</footer>
        <div id="p4" class="bottomPrgs mdl-progress mdl-js-progress"></div>
        <script>
          document.querySelector('#p4').addEventListener('mdl-componentupgraded', function() {
            this.MaterialProgress.setProgress(33);
            this.MaterialProgress.setBuffer(50);
          });
        </script>
      </section>
    </main>
  </div>
</body>
</html>
