body {
  font-family: 'Open Sans', sans-serif;
  background-color: silver;
}

h1 {
  font-size: 5rem;
  letter-spacing: -0.09375rem;
}

h2 {
  font-size: 3.75rem;
  letter-spacing: -0.03125rem;
}

h3 {
  font-size: 3rem;
  letter-spacing: 0rem;
}

h4 {
  font-size: 2.125rem;
  letter-spacing: 0.015625rem;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

h6 {
  font-size: 1.25rem;
  letter-spacing: 0.009375rem;
}

/* Scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.25);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.chatroom {
  overflow-x: hidden;
  width: 98vw;
  height: 75vh;
  position: absolute;
  left: 25px;
  top: 25px;
}

.drawer-label {
  text-align: center;
  font-size: 17px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  background-color: var(--clrBack);
  color: white;
  vertical-align: middle;
  text-align: center;
}
.friendChip {
  margin-left: 25px;
}

.bottomPrgs {
  position: absolute;
  bottom: 20px;
  width: 100vw;
  background-color: gray;
}

hr {
  border-color: gray;
}

.loader {
  position: relative;
  margin-top: 20vh;
  text-align: center;
}

#loader {
  position: absolute;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}
